<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>Public NAAN Registry</title>
  </head>
  <body>
    <dl>
      <dt>Public NAAN records as a single file</dt>
      <dd><a href="naans_public.json">naans_public.json</a></dd>
      <dt>Public NAAN records as a folder of JSON records</dt>
      <dd><a href="naans">naans</a></dd>
      <dt>Full NAAN JSON-schema</dt>
      <dd>Schema <code><a href="schema/naan_schema.json">schema/naan_schema.json</a></code> and <a href="https://cdluc3.github.io/naan_reg_public/schema/naan_schema.html">generated documentation</a>.</dd>
      <dt>Public NAAN JSON-schema</dt>
      <dd>Schema <code><a href="schema/public/naan_schema_public.json">schema/public/naan_schema_public.json</a></code> and <a href="https://cdluc3.github.io/naan_reg_public/schema/public/naan_schema.html">generated documentation</a>.</dd>
    </dl>
  </body>
</html>
